extends ../shared/template
block content
    h2.coordinates(data-olat=trip.origin.lat, data-olng=trip.origin.lng, data-dlat=trip.destination.lat, data-dlng=trip.destination.lng) Trip Stops
    #map
    .row
      .col-xs-6
        h5 Stops
      .col-xs-6
        form(method='put' id='stopsForm' actions='/trips/#{trip._id}')
          button(type='button')#add.btn.btn-danger.full Add Additional Stop
          .form-group#stops
            label Add Stop(s)
            input.form-control(type='text' name='stop')
          button(type='submit').btn.btn-default.full Submit
    .row
      .col-xs-6
        h5 Directions
        #directions
      .col-xs-6


block scripts
  script(src='/js/user/stops.js')