extends ../shared/template
block content
    h2 #{stop.name} Events
    #map(data-lat=stop.lat, data-lng=stop.lng)
    .row
      .col-xs-6
        h5 Events
        ul
          each evnt in stop.events
            li= evnt
      .col-xs-6
        form(method='post' id='events' actions='/trips/#{tripID}/stop/#{stop._id}')
          button(type='button').btn.btn-success.full#addEvent Add More Events
          .form-group.event
            label Add Event(s)
            input.form-control(type='text' name='event')
    .row
      .col-xs-6
        #photos
      .col-xs-6
        .form-group
          label Add Photos
          input(type='file' name='photos' multiple=true)
        button(type='submit' form='events').btn.btn-danger.full Submit

block scripts
  script(src='/js/user/event.js')


